- @settings = {} unless @settings
%p
  %label= l(:label_account_login)
  = text_field_tag("settings[account_login]", @settings[:account_login])
%p
  %label= l(:label_account_password)
  = password_field_tag("settings[account_password]", @settings[:account_password])
%p
  %label= l(:label_minimal_interval_for_sync)
  = number_field_tag("settings[minimal_interval_for_sync]", @settings[:minimal_interval_for_sync])
%p
  %label= l(:label_google_group_title)
  = text_field_tag("settings[google_group_title]", @settings[:google_group_title])
%p
  %label= l(:label_group)
  = select_tag('settings[group]', options_for_select(Principal.order("type asc").map{|principal| [principal.name, principal.id]}.to_a, @settings['group']))

//%p
//  %label= l(:label_company_income_phones)
//  = text_area_tag("settings[company_income_phones]", @settings[:company_income_phones])

// * TODO release future sync now. Recurse Calling!!!
//%p
//  %label= l(:label_sync_after_save)
//  = check_box_tag("settings[sync_after_save]", 1 , @settings[:sync_after_save].to_i == 1)


